# docker config
DOCKER_STACK_NAME=
DATA_MNT_ROOT=
DOCKER_COMPOSE_FILE=
DOCKER_PUBLIC_NETWORK=

# db config
DB_DRIVER=
DB_NAME=
DB_USERNAME=
DB_PASSWORD=

# other config
TAG=
OPENPROJECT_HTTPS=
OPENPROJECT_HOST__NAME=
PORT=
OPENPROJECT_RAILS__RELATIVE__URL__ROOT=
IMAP_ENABLED=
RAILS_MIN_THREADS=
RAILS_MAX_THREADS=

# deploy config
HOST=
